#!/bin/bash

configure_gsettings() {
    # Setting gnome shell styles
    gsettings set org.gnome.desktop.wm.preferences button-layout appmenu:minimize,maximize,close
    gsettings set org.gnome.desktop.interface color-scheme prefer-dark
    gsettings set org.gnome.desktop.interface gtk-theme Adwaita-dark
    gsettings set org.gnome.desktop.interface show-battery-percentage true

    # Setting keyboard shortcuts
    gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"

    # Keybind 0
    gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ binding '<Super>t'
    gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ command 'ptyxis'
    gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ name 'Open Terminal'

    # Set touchpad accel profile and speed.
    gsettings set org.gnome.desktop.peripherals.mouse accel-profile flat
    gsettings set org.gnome.desktop.peripherals.touchpad speed 0.365

    # Set favourite apps
    gsettings set org.gnome.shell favorite-apps "['firefox.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Software.desktop', 'org.keepassxc.KeePassXC.desktop', 'org.telegram.desktop.desktop', 'com.visualstudio.code.desktop']"
}

setup_directories_and_bookmarks() {
    mkdir ~/Syncthing/
    mkdir -p ~/Syncthing/'Online Authentication'/
    mkdir -p ~/Syncthing/Signal/
    mkdir -p ~/Syncthing/Tachiyomi/
    
    mkdir ~/Repositories/

    echo "file:///$HOME/Syncthing/" >> ~/.config/gtk-3.0/bookmarks
    echo "file:///$HOME/Repositories/" >> ~/.config/gtk-3.0/bookmarks
}

setup_system() {
    source ~/.bashrc

    configure_gsettings
    setup_directories_and_bookmarks
    
    # Disable Bluetooth
    rfkill block bluetooth

    flatpak update -y
    flatpak install -y flathub com.visualstudio.code org.keepassxc.KeePassXC io.github.martchus.syncthingtray

    echo "Please restart the machine for some changes to take effect."
}
