#!/bin/bash

update_system() {
    sudo dnf update -y
    sudo dnf autoremove -y
    flatpak update -y
}

setup_machine() {
    source ~/.bashrc
    dotfiles remote set-url origin git@github.com:gohanko/dotfiles.git

    # Setting gnome shell styles
    gsettings set org.gnome.desktop.wm.preferences button-layout appmenu:minimize,maximize,close
    gsettings set org.gnome.desktop.interface gtk-theme Adwaita-dark
    gsettings set org.gnome.desktop.interface icon-theme Yaru
    gsettings set org.gnome.desktop.interface show-battery-percentage true

    # Setting background picture
    gsettings set org.gnome.desktop.screensaver picture-options zoom
    gsettings set org.gnome.desktop.screensaver picture-uri file:///usr/share/backgrounds/fedora-workstation/aurora-over-iceland.png
    gsettings set org.gnome.desktop.screensaver primary-color '#000000000000'
    gsettings set org.gnome.desktop.screensaver secondary-color '#000000000000'
    
    # Setting keyboard shortcuts
    gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"

    # Keybind 0
    gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ binding '<Super>t'
    gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ command 'gnome-terminal'
    gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ name 'Open Terminal'

    # Setting gnome-terminals settings
    GNOME_TERMINAL_PROFILE=`gsettings get org.gnome.Terminal.ProfilesList default | awk -F \' '{print $2}'`
    gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$GNOME_TERMINAL_PROFILE/ visible-name 'Default'
    gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$GNOME_TERMINAL_PROFILE/ use-theme-colors false
    gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$GNOME_TERMINAL_PROFILE/ foreground-color 'rgb(208,207,204)'
    gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$GNOME_TERMINAL_PROFILE/ background-color 'rgb(23,20,33)'
    gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$GNOME_TERMINAL_PROFILE/ use-system-font false

    # Set touchpad accel profile and speed.
    gsettings set org.gnome.desktop.peripherals.mouse accel-profile flat
    gsettings set org.gnome.desktop.peripherals.touchpad speed 0.365

    # Set favourite apps
    gsettings set org.gnome.shell favorite-apps "['firefox.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Software.desktop', 'org.keepassxc.KeePassXC.desktop', 'org.qbittorrent.qBittorrent.desktop', 'com.discordapp.Discord.desktop', 'org.telegram.desktop.desktop', 'com.github.johnfactotum.Foliate.desktop', 'com.visualstudio.code.desktop']"

    # Setting system settings
    rfkill block bluetooth

    # Setup Nautilus
    mkdir ~/Documents/Syncthing/
    echo "file:///$HOME/Documents/Syncthing/" >> ~/.config/gtk-3.0/bookmarks
    mkdir ~/Documents/Repositories/
    echo "file:///$HOME/Documents/Repositories/" >> ~/.config/gtk-3.0/bookmarks

    # Prepare Syncthing folder for syncing.
    mkdir ~/Documents/Syncthing/'Online Authentication'/
    mkdir ~/Documents/Syncthing/Signal/
    mkdir ~/Documents/Syncthing/Tachiyomi/
    mkdir -p ~/Documents/Syncthing/WhatsApp/Databases/

    # Add third party repo for syncthing-tray
    sudo dnf config-manager --add-repo https://download.opensuse.org/repositories/home:mkittler/Fedora_35/home:mkittler.repo
    flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

    update_system

    # Install our packages
    sudo dnf install -y gnome-tweaks syncthing syncthingtray util-linux-user yaru-theme tlp
    flatpak install -y flathub com.visualstudio.code com.github.johnfactotum.Foliate org.keepassxc.KeepassXC org.qbittorrent.qBittorrent org.telegram.desktop com.discordapp.Discord io.github.celluloid_player.Celluloid com.wps.Office

    # Remove uneeded packages
    sudo dnf remove -y gnome-weather gnome-help gnome-photos gnome-tour gnome-contacts gnome-calendar gnome-abrt libreoffice-writer libreoffice-calc  libreoffice-impress
    sudo dnf autoremove -y

    # Copying config files
    git clone https://github.com/gohanko/application-configurations
    
    sudo cp ./application-configurations/firefox/policies.json /usr/lib64/firefox/distribution/policies.json
    mkdir -p ~/.var/app/com.visualstudio.code/config/code/User/
    
    cp ./application-configurations/vscode/settings.json  ~/.var/app/com.visualstudio.code/config/Code/User/settings.json
    rm -rf ./application-configurations/

    echo "Please restart the machine for some changes to take effect."
}
